<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Apartment Finder</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light navbar-expand-lg mb-4">
            <a class="navbar-brand text-uppercase" href="/apartments">Apartment Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <% if (!currentUser){ %>
                        <li class="nav-item active">
                            <a href="/login" class="nav-link">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a href="/register" class="nav-link">Sign up</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link"><%= currentUser.username %></a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Log out</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <div class="container">
            <% if (error && error.length > 0){ %>
                <div class="alert alert-secondary" role="alert">
                    <%= error %>
                </div>
            <% }
            if (success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
    
        
        